a {
    color: darkgreen;
}

body {
    font-family: Verdana, Geneva, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Abel"
}

#bg {
    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspect ratio */
    width: 100%;
    height: 100%;

    z-index: -1
}

.close {
    color: gray;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.container {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.85);
    border: 2px solid gray;
    border-radius: 8px;
    margin: auto;
    max-height: 95%;
    max-width: 60%;
    padding: 1em;
}

.fail {
    background-color: white;
    border: 1px solid black;
    color: red;
    display: inline-block;
    height: 1.2em;
    margin-right: 0.5em;
    text-align: center;
    width: 1.2em;
}

.history {
    color: gray;
}

.injured {
    color: darkred;
}

.modal {
    background-color: #fefefe;

    /* 15% from the top and centered */
    margin: 15% auto;
    padding: 20px;
    border: 2px solid gray;

    /* Could be more or less, depending on screen size */
    width: 80%;
}

.modalBackground {
    /* Stay in place */
    position: fixed;

    /* Sit on top */
    z-index: 1;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modalTitle {
    margin-top: 0px;
}

#storyArea {
    height: 80vh;
    overflow-y: scroll;
}

.success {
    background-color: white;
    border: 1px solid black;
    color: green;
    display: inline-block;
    height: 1.2em;
    margin-right: 0.5em;
    text-align: center;
    width: 1.2em;
}

.verticalDivider {
    background-color: gray;
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 2px;
}

.spacer {
    height: 1.25em;
}